<div class="user-list">
    <table>
        <thead>
            <tr>
                <th>
                    E-Mail
                </th>

                <th>
                    Name
                </th>

                <th width="25px"></th>

                <th width="45px"></th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>
                    {{email}}
                </td>

                <td>
                    {{fullName}}
                </td>

                <td width="25px">
                    <a href="user/{{id}}/edit">edit</a>
                </td>

                <td width="45px">
                    <a href="user/{{id}}/delete">delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <a href="user/new">
        <input type="button" value="New user" />
    </a>
</div>